@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --primary-text: #0F1012;
  --secondary-text: #8E96A2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --primary-text: #0F1012; /* à changer */
    --secondary-text: #8E96A2; /* à changer */
  }
}

body {
  color: var(--primary-text);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

p {
  color: var(--secondary-text);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.custom-checkbox:checked {
  background-color: #FF90E8;
  color: var(--primary-text);
}

.custom-checkbox:checked::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 6px;
  width: 6px;
  height: 10px;
  border: solid var(--primary-text);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}